.jl_vouchers_list_container {
    background-color: #ffffff;
    border: 1px solid #d3d8db;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.jl_vouchers_list_container .panel-heading {
    color: #555;
    font-family: Ubuntu Condensed, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jl_vouchers_list_container .panel-heading i.icon-list {
    margin-right: 3px;
}

.jl_prestatools.row label.form-control-label.translation-label-es {
    font-weight: 600;
}

