/* Display Home */
.container.jl_prestatools.dispHome {
    background-color: #c0d6de;
    padding: 12px 0 1px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 14px;
}

/* Display Footer Before */
.container.jl_prestatools.dispFooterBef {
    padding: 12px 0 1px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 25px;
    color: #333333;
    border: 1px solid #6c757d;
}

/* Display Nav */
.header-nav .small {
    width: 100%;
}

.header-nav .small #_desktop_contact_link {
    width: fit-content;
    display: inline-block;
}

.header-nav .small .container.jl_prestatools.dispNav {
    width: fit-content;
    display: inline-block;
    margin-top: 15px;
}

.container.jl_prestatools.dispNav p {
    padding: 0 10px;
    border-radius: 5px;
}

.jl_prestatools i.material-icons {
    padding-top: 3px;
    color: #555555;
}

img.jl-weather-icon {
    width: 25px;
    padding-bottom: 3px;
    margin-left: -2px;
}

/* Product */
.container.jl_prestatools.displayProductAdditionalInfo {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 1px;
    background-color: #f7dec8;
    text-align: center;
    border-radius: 5px;
}

/* Order confirmation */
section#content-hook_order_confirmation.bg-success {
    background-color: #D4EFDF !important;
}

section#content-hook_order_confirmation.text-white {
    color: #555555 !important;
}

.container.jl_prestatools.displayOrderConfirmation {
    height: 350px;
}

.jl_hide {
    opacity: 0;
    display: none;
}

.jl_card {
    width: 300px;
    height: 96px;
    position: relative;
}

.jl_base {
    width: 300px;
    height: 96px;
    line-height: 1.5rem;
    text-align: center;
}

.jl_base, #scratch {
    position: absolute;
    top: 60px;
    left: 145px;
    cursor: grabbing;
}

#scratch {
    width: 300px;
    height: 120px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.jl_card > img {
    width: 480px;
    box-shadow: 5px 5px 5px 2px;
    border-radius: 20px;
}

#jl_voucher_amount, #jl_voucher_code {
    display: block;
}

.jl_voucher_title {
    width: 480px;
    text-align: center;
    margin-bottom: 12px;
}

.jl_voucher_title h2 {
    color: #ce622c;
}

.jl_base > span#jl_voucher_label {
    display: block;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .jl_card > img,
    .jl_voucher_title {
        width: 420px;
    }

    .jl_base, #scratch {
        top: 40px;
        left: 100px;
    }
}

@media (max-width: 499px) {
    .card-body {
        padding: 10px;
    }

    .container.jl_prestatools.displayOrderConfirmation {
        padding: 0;
    }
}

@media (max-width: 470px) {
    .jl_card > img,
    .jl_voucher_title {
        width: 320px;
    }

    .jl_base, #scratch {
        top: 15px;
        left: 10px;
    }
}

